"*":
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "react"
      "whitespace"
      "linter-eslint"
      "linter"
      "github"
      "language-coffee-script"
      "language-ruby-on-rails"
      "busy-signal"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 17
    showIndentGuide: true
  "exception-reporting":
    userId: ""
  "linter-eslint":
    globalNodePath: "/Users/smarsh/.nvm/versions/node/v8.11.4"
    useGlobalEslint: true
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
