"*":
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "react"
      "whitespace"
      "linter-eslint"
      "linter"
      "github"
      "language-coffee-script"
      "language-ruby-on-rails"
      "busy-signal"
      "prettier-atom"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 19
    showIndentGuide: true
  "exception-reporting":
    userId: "f2e39c6c-844c-487a-93e1-561a58b4a134"
  "linter-eslint":
    globalNodePath: "/Users/smarsh/.nvm/versions/node/v8.11.4"
    useGlobalEslint: true
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
